

{% load static %}
<link rel="stylesheet" href="{% static 'css/project_style.css' %}">

<h1 class="upload-title">🎵 Upload New Sheet</h1>

<p style="text-align: center;">Upload PDF or MuseScore file (.mscz):</p>

<div class="upload-form">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      {{ form.title.label_tag }}{{ form.title }}
      {{ form.composer.label_tag }}{{ form.composer }}
      {{ form.difficulty.label_tag }}{{ form.difficulty }}
      {{ form.category.label_tag }}{{ form.category }}
      {{ form.pdf_file.label_tag }}{{ form.pdf_file }}
      {{ form.cover_image.label_tag }}{{ form.cover_image }}
    </div>
    <button type="submit" class="upload-btn">Upload</button>
  </form>
</div>
