<!-- restaurant/templates/restaurant/order.html-->
{% extends 'restaurant/main.html' %}

{% block content %}
<div>


    <br>

    <form action="{% url 'submit' %}" method="POST">
        {% csrf_token %}

        <h3>Select an order:</h3>
        <input type="checkbox" name="Chickenjoy"> Chickenjoy Meal ($10)<br>
        <input type="checkbox" name="Jolly Spaghetti"> Jolly Spaghetti ($5)<br>
        <input type="checkbox" name="French Fries"> French Fries ($3)<br>
        <input type="checkbox" name="Kids Meal"> Kids Meal ($5)<br>
    
        <h3>Choose a Dessert</h3>
        <input type="checkbox" name="Chocolate Sundae"> Chocolate Sundae ($3)<br>
        <input type="checkbox" name="Caramel Sundae"> Caramel Sundae ($3)<br>
        <input type="checkbox" name="Plain Cone"> Plain Cone ($2)<br>
        <input type="checkbox" name="Peach Mango Pie"> Peach Mango Pie ($2)<br>
    

        <h3>Special Instructions</h3>
        <textarea id="instructions" name="instructions" rows="4" cols="50">  </textarea>
        <br>


        <h3>Customer Information</h3>
        <label for="name">Name:</label>
        <input type="text" name = "name">

        <label for="phone">Phone Number:</label>
        <input type="text" id="phone" name="phone"><br><br>

        <label for="email">Email:</label>
        <input type="text" id="email" name="email"><br><br>


        
        <input type="submit">

    </form>
</div>


{% endblock %}
