{% extends 'quotes/base.html' %}
{% load static %}

{% block title %}All Taylor Swift Quotes & Images{% endblock %}

{% block content %}
    <h2 class="all-quotes-title">All Quotes</h2>

    <table class="quote-table">
        <thead>
           
        </thead>
        <tbody>
            {% for quote, image in paired_quotes_images %}
            <tr>
                <td class="quote-text">"{{ quote }}"</td>
                <td>
                    <img class="table-img" src="{% static 'images/' %}{{ image }}" alt="Taylor Swift">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
