{% extends 'mini_fb/base.html' %}
<!-- Template for confirming deletion of a status update-->

{% block content %}
    <div class="confirmation-box" style="background-color: #4f67ff; color: white; padding: 20px; border-radius: 10px;">
        <h2>Delete Status Message?</h2>
        <p><strong>{{ status.text }}</strong></p>
        <small>{{ status.created_at|date:"F j, Y, g:i a" }}</small>

        <h3>Are you sure you want to delete this status message?</h3>

        <form method="post">
            {% csrf_token %}
            <button type="submit" style="background-color: #FF0000; color: white; border: none; padding: 10px 20px; border-radius: 5px;">Yes</button>
        </form>
        
        <!-- Cancel button to go back to profile page -->
        <form action="{% url 'show_profile' pk=status.profile.pk %}" method="get" style="display:inline;">
            <button type="submit" style="background-color: #00FF00; color: white; border: none; padding: 10px 20px; border-radius: 5px;">No</button>
        </form>
    </div>
{% endblock %}




