{% extends 'mini_fb/base.html' %}
 <!--Displays the friend suggestions for a single profile -->


{% block content %}

<div style="text-align: center; margin-top: 20px;">
    <a href="{% url 'show_profile' pk=profile.id %}" 
       style="border-radius: 5px; text-decoration: none; font-weight: bold;">
        <u>{{ profile.first_name }}'s Profile Page</u>
    </a>
    <br>
    <br>
    
</div>

    <div style="background-color: #4A3DB9; color: white; padding: 15px; border-radius: 8px; text-align: center;">
        <h2>People {{ profile.first_name }} may know:</h2>
    </div>

    <div style="display: flex; justify-content: center; gap: 20px; flex-wrap: wrap; margin-top: 20px;">
        {% for suggestion in friend_suggestions %}
            <div style="background-color: #4a0dbb; padding: 20px; border-radius: 10px; text-align: center; width: 200px;">
                <img src="{{ suggestion.image_file.url }}" alt="{{ suggestion.first_name }}'s Profile Picture"
                     style="width:300" height="300" style="border-radius: 10px;">
                <h3>{{ suggestion.first_name }} {{ suggestion.last_name }}</h3>
                <form action="{% url 'add_friend' pk=profile.id other_pk=suggestion.id %}" method="get">
                    <button type="submit" style="background-color: #19007D; color: rgb(255, 255, 255); padding: 5px 10px; border: none; border-radius: 5px; cursor: pointer;">
                        ✔ Add Friend
                    </button>
                </form>
            </div>
        {% empty %}
            <p>No friend suggestions available</p>
        {% endfor %}
    
{% endblock %}
