{% extends 'mini_fb/base.html' %}

{% block content %}
    <h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
    <img src="{{ profile.image_file.url }}" alt="{{ profile.first_name }}'s Profile Picture" width="150" height="150">

    <p>City: {{ profile.city }}</p>
    <p>Email: {{ profile.email }}</p>

    {% if request.user.is_authenticated and request.user.profile and request.user.profile != profile %}
    <form action="{% url 'add_friend' request.user.profile.id profile.id %}" method="get">
        <button type="submit">➕ Add Friend</button>
    </form>
    
{% endif %}


    <h3><a href="{% url 'add_status' profile.pk %}">Add a Status Message</a></h3>
    <a href="{% url 'update_profile' pk=profile.pk %}">Update Profile</a>


    <h3>Friends</h3>
    {% with friends=profile.get_friends %}
        {% if friends %}
            <ul>
                {% for friend in friends %}
                    <li>
                        <a href="{% url 'show_profile' friend.pk %}">
                            {{ friend.first_name }} {{ friend.last_name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No friends yet.</p>
        {% endif %}
    {% endwith %}

    <div style="text-align: center; margin-top: 20px;">
        <a href="{% url 'friend_suggestions' profile.id %}"
   style="background-color: #132ac1; color: white; padding: 10px 15px; border-radius: 5px; text-decoration: none;">
   🔍 Friend Suggestions
</a>
    </div>
    

    <h3>Status Messages</h3>
    {% for st_msg in profile.statusmessage_set.all %}
        <div class="status-message">
            <p>{{ st_msg.text }} - {{ st_msg.created_at }}</p>
            <a href="{% url 'update_status' pk=st_msg.pk %}">Update</a>
            <a href="{% url 'delete_status' pk=st_msg.pk %}">Delete</a>
        </div>
        <div>
            {% for status_image in st_msg.statusimage_set.all %}
                <img src="{{ status_image.image.image_file.url }}" alt="Status Image" width="200">
            {% endfor %}
        </div>
    {% empty %}
        <p>No status messages yet.</p>

    {% endfor %}
{% endblock %}
