{% extends 'mini_fb/base.html' %}
{% block title %}All Profiles{% endblock %}

{% block content %}
    <h2>All Profiles</h2>

    {% if profiles %}
    <table>
        <thead>
            <tr>
                <th>Profile Picture</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>City</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for profile in profiles %}
            <tr> 
                <td>
                    <img src="{{ profile.profilepic }}" alt="{{ profile.first_name }}'s Profile Picture" style="width: 100px; height: auto; object-fit: cover;">

                </td>
                <td>{{ profile.first_name }}</td>
                <td>{{ profile.last_name }}</td>
                <td>{{ profile.city }}</td>
                <td>{{ profile.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No Profiles found.</p>
    {% endif %}

{% endblock %}
