{% extends 'mini_fb/base.html' %}
{% block title %}All Profiles{% endblock %}

{% block content %}
    <h2>All Profiles</h2>

    {% if profiles %}

    <!-- Table to display all profiles-->
    <table>
        <thead>
            <tr>
                <th>Profile Picture</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>City</th>
                <th>Email</th>
            </tr>
        </thead>

        <!-- Go through each profile and display their details-->
        <tbody>
            {% for profile in profiles %}
            <tr>
                <td>
                    <!-- Click on user's profile which is linked to their page-->
                    <a href="{% url 'show_profile' profile.pk %}">
                        {% if profile.image_file %}
                            <img src="{{ profile.image_file.url }}" alt="{{ profile.first_name }}'s Profile Picture" width="80" height="80">
                        {% else %}
                            <p>No profile picture available.</p>
                        {% endif %}
                    </a>
                </td>

                <!-- Click on user's name to visit profile page-->
                <td>
                    <a href="{% url 'show_profile' profile.pk %}">
                        {{ profile.first_name }}
                    </a>
                </td>

                <td>{{ profile.last_name }}</td>
                <td>{{ profile.city }}</td>
                <td>{{ profile.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <p>No Profiles found.</p>
    {% endif %}

{% endblock %}